body{
  background-image:url("https://img.freepik.com/free-vector/cosmetics-elements-collection_1096-253.jpg?w=996&t=st=1668450071~exp=1668450671~hmac=33aa3b7e9b73959d28f4cc6db670763d662ac498f41a595631ac602a151b1b86");
}

.container{
  display: flex;
  justify-content: center;
  background-color: #d42127 ;
  
}
.header{
  display: flex;
  justify-content: center;
  margin: 30px;
}
img{
  margin: 20px;
}
.heading{
  display: flex;
  justify-content: center;
  background-color: #de8a92 ; 

}
h1,h2{
  border: 2px solid #d42127;
  background-color: #d42127;
  margin: 10px;
  font-family: 'Sono', sans-serif;
  color:#de8a92

}
button{
  border: 2px solid #d42127;
  background-color: #d42127;
  margin: 10px;
  font-family: 'Sono', sans-serif;
  padding: 10px;
  font-size: 20px;
  color:#de8a92;


}
@media all and (max-width:800px){
    img{
      font-size: 100px;

    }
    h1{
      font-size: 20px;
    }
    .header{
      display: flex;
      flex-wrap: wrap;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
    }


  
  
}